body {
  min-width: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  color: rgb(0, 173, 156);
  font-size: 42px;
}
h2 {
  color: rgb(97, 94, 94);
}
h3 {
  color: rgb(97, 94, 94);
}
h4 {
  color: rgb(0, 173, 156);
  font-size: 67px;
}
.overview {
  text-align: center;
  margin: 10px 24px;
  border: 1px solid rgb(0, 173, 156);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(145, 214, 207);
}
.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -35px;
}
.weather-temperature .active {
  color: rgb(97, 94, 94);
  cursor: default;
  text-decoration: none;
}
#fahrenheit-link {
  color: rgb(0, 173, 156);
  text-decoration: none;
  cursor: default;
}
.form-control {
  color: black;
  font-size: 20px;
  background: #fce7e5;
  padding: 12px;
  margin: 0 24px;
  box-shadow: 5px 5px 10px #7a302a;
}
.btn-primary {
  color: black;
  font-size: 24px;
  background: rgb(7, 161, 7);
  border: rgb(97, 94, 94);
  padding: 10px;
  margin: 4px 24px;
  box-shadow: 5px 5px 10px teal;
  transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  color: rgb(34, 33, 33);
  background: rgb(0, 173, 156);
  cursor: pointer;
}
.btn-secondary {
  padding: 13px;
  font-size: 20px;
  color: black;
  background: rgb(0, 173, 156);
  margin: 4px 24px;
  box-shadow: 5px 5px 10px teal;
  transition: all 200ms ease-in-out;
}
.btn-secondary:hover {
  color: rgb(34, 33, 33);
  background: #fce7e5;
  cursor: pointer;
}
#days-details {
  margin-right: 46px;
  margin-left: -8px;
}
#details-table {
  margin-top: 12px;
  margin-left: -9px;
  width: 100%;
}
.list-group-item {
  font-weight: 300;
  font-size: 22px;
  line-height: 48px;
  color: rgb(34, 33, 33);
  column-width: 23em;
  box-shadow: 5px 5px 10px #b3645d;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  margin-left: 68px;
  font-size: 1.025em;
  font-weight: 350;
  padding: 20px;
}
#forecast {
  margin-left: 22px;
}
#forecast-temperature-max {
  font-weight: bold;
}
